:root {
  --margin-left-slide: -100%;

  --active-color-control: khaki;
  --color-control: peru;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

main {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background-image: url('assets/background.jpg');
  background-position: center;
}

.slider > input {
  display: none;
}

.slider {
  width: 40%;
  min-width: 25rem;
  max-width: 45rem;
  overflow: hidden;
}

.slider__images {
  display: flex;
  transition: all 2s;
  width: 100%;
}

.slider__image-item {
  width: 100%;
}

/* ------ Slider Footer ------ */

.slider__footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.slider__control-item {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.25rem;
  display: inline-block;
  border: 0.3rem solid var(--color-control);
  border-radius: 50%;
  background-color: var(--color-control);
  cursor: pointer;
}

.slider__control-item > span {
  padding: 1.25rem 1rem;
  display: inline-block;
}

.slider__control-item > span:hover {
  cursor: pointer;
}

.slider__control-item:hover {
  border-color: var(--active-color-control);
  background-color: var(--active-color-control);
  transition: all 0.3s;
}

#slide-1:checked ~ .slider__footer > .slider__controls >*:nth-child(1),
#slide-2:checked ~ .slider__footer > .slider__controls >*:nth-child(2),
#slide-3:checked ~ .slider__footer > .slider__controls >*:nth-child(3),
#slide-4:checked ~ .slider__footer > .slider__controls >*:nth-child(4),
#slide-5:checked ~ .slider__footer > .slider__controls >*:nth-child(5),
#slide-6:checked ~ .slider__footer > .slider__controls >*:nth-child(6) {
  background: none;
}

/* Change image */

#slide-2:checked ~ .slider__images {
  margin-left: var(--margin-left-slide);
}

#slide-3:checked ~ .slider__images {
  margin-left: calc(var(--margin-left-slide) * 2);
}

#slide-4:checked ~ .slider__images {
  margin-left: calc(var(--margin-left-slide) * 3);
}

#slide-5:checked ~ .slider__images {
  margin-left: calc(var(--margin-left-slide) * 4);
}

#slide-6:checked ~ .slider__images {
  margin-left: calc(var(--margin-left-slide) * 5);
}
